* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #f4f4f4;
  min-height: 100vh;
}

.container {
  max-width: 800px;
  margin: 2rem auto;
  padding: 1.5rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.credential-heading{
  text-align: center;
  margin-bottom: 2rem;
}

input,
textarea {
  padding: 0.75rem;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 1rem;
}

button {
  padding: 0.75rem;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 500;
}

button:hover {
  background-color: #0056b3;
}

.navbar {
  background: #007bff;
  padding: 1rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar a,
.navbar button {
  color: white;
  margin-right: 1.5rem;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
}
.logout-btn:hover{
  background: #fff;
  color: #007bff;
}
 .navbar h1 {
  color: white;
  margin: 0;
  font-size: 20px;
}




 .task {
  padding: 12px;
  border-bottom: 1px solid #e0e0e0;
}

.task-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task-title {
  font-weight: bold;
  margin: 0;
}

.task-desc {
  margin: 4px 0 0;
  color: #888;
  font-size: 14px;
}

.task-actions {
  display: flex;
  gap: 10px;
}

.edit-btn,
.delete-btn {
  border-radius: 10px;
  padding: 6px 12px;
}

.task-heading{
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.links-accounts{
  margin-top: 15px;
  text-align: center;
}

.links-accounts a{
  text-decoration: none;
  color: inherit;
}

.links-accounts a:hover{
  text-decoration: underline;
  color: blue;
}